@{
    Layout = "../_layouts/main.cshtml";
}

<!-- Main -->
<article id="main">
    <header>
        <h2>@Model.Title</h2>
        <p>It's always possible to define your own permalink.</p>
    </header>
    <section class="wrapper style5">
        <div class="inner">

            @Model.Content

        </div>
    </section>
</article>

