<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSharpVerbalExpressions" version="0.1" targetFramework="net452" />
  <package id="HtmlTags" version="2.0.0.181" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net452" />
  <package id="Tanka.Markdown.Html" version="1.1.5" targetFramework="net452" />
</packages>